.avatar {
  padding-top: 20px;
}

#navigation {
  @media (min-width: 768px) {
    text-align: right;
    padding: 5px 0 5px 0;
  }
}

.jumbotron {
  background-image: image-url('banner.png');
  color: white;
}

footer {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
  padding-top: 20px;

  border-color: #ccc;
  border-style: solid;
  border-width: 1px 0 0 0;
  background-color: #eee;
  padding-bottom: 20px;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

p {
  font-size: 14pt;
  margin-bottom: 10px;
  margin-top: 10px;
}

pre {
  margin-bottom: 10px;
  margin-top: 10px;
}

h1, h2, h3 {
  color: #999;
}

h1 {
  font-size: 30px;
}

a {
  color: #DB3030;
}

.post {
  .category {
    color: #999;
    font-weight: bold;
    font-size: 12pt;
    margin-bottom: 20px;
  }

  .body, .more {
    border-style: solid;
    border-width: 0 0 10px 0;
    border-color:  #DB3030;
    padding-bottom: 100px;
    margin-bottom: 20px;
  }

  .more {
    padding-bottom: 30px;
  }

  margin-bottom: 70px;
}

a.comment-link {
  font-size: 14pt;
}
